.post-info-ui {
  padding: 0 10px;
}

.post-info-ui__desc {
  display: flex;
  gap: 10px;
}

.post-info-ui__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 20px;
  position: relative;
}

.post-info-ui__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-info-ui__tags {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: -15px;
}
